<!--left-fixed -navigation-->
<div class=" sidebar" role="navigation">
    <div class="navbar-collapse">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/operations/"><i class="fa fa-home nav_icon"></i>Operations</a>
                </li>
                <li>
                    <a href="/services/"><i class="fa fa-user nav_icon"></i>Services</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-money nav_icon"></i>Utilisateurs</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-stream nav_icon"></i>logout</a>
                </li>

            </ul>
            <div class="clearfix"> </div>
            <!-- //sidebar-collapse -->
        </nav>
    </div>
</div>